.link {
    font-size: 20pt;

}

.link:hover{
    color: red;
}

.link:link{
    color: blue;
}

.link:active{
    color:green;
}

.link:visited{
    background: yellow;
}

.contoh-link,
.contoh-link:link,
.contoh-link:active,
.contoh-link:visited{
    font-size: 20px;
    background: #1ABC9C;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
}

.contoh-link:hover{
    background: #16A085;
}